# Arquivos e diretórios padrão do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ambientes virtuais do Python
venv/
ENV/
env/
*.venv/
*.virtualenv/

# Arquivos de configuração do IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos e diretórios de dependências do Node.js (usados pelo Slidev)
node_modules/
package-lock.json
yarn.lock

# Diretórios e arquivos de compilação do Slidev
.sli.dev/
dist/

# Arquivos de log e banco de dados
*.log
*.sqlite

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração específicos de outros ferramentas
.env
.env.local
.dockerignore
